*{
    margin: 10px 20px;
}

.ritu {

    background-color: beige;
    border: 20px;
    padding: 20px 30px;

}
.cow{
    font-style: italic;


}
h2,h4 ,h3{
    text-align: center;
    font-size: 50px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
}
h1{
    margin-bottom: 40px;
}
.san{
    border: 30px solid skyblue;
    border-radius: 10px;
    box-shadow: 10px 20px 10px;
    background: linear-gradient(pink,blue white);
}
ol, h4{
    border: 30px solid ;
    background: linear-gradient(45deg, pink,rgb(110, 110, 191),rgb(173, 77, 77));
}
h4{
    border: 2px;
    /* margin-bottom: 0px; */
}
.ut{
    border: 2px solid;
}